/*********** ELEMENTS ***********/
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-base);
  line-height: 1.5;
  font-weight: var(--font-light);
  color: var(--dark-blue);
}

h1,
h2,
h3 {
  font-weight: var(--font-medium);
  text-transform: uppercase;
}

h2,
h3 {
  letter-spacing: 0.05em;
}

header {
  background-color: #fff;
  font-size: 0.85em;
  font-weight: var(--font-bold);
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
  display: flex;
  justify-content: flex-end;
}

select {
  min-width: 12em;
  padding: 0.3em;
  border-radius: 0.5em;
}

section {
  padding-bottom: 2em;

  h2 {
    font-size: 2em;
  }
}

/******** BLOCKS ********/

.box {
  border: 1px solid var(--medium-grey);
  box-shadow: 0 0.2em 0.2em 0.1em var(--medium-grey);
}

.page-container {
  margin: 5em 0 2em 0;
}

.detail-container {
  display: flex;
  gap: 5em;
  justify-content: center;
}

/** NAV BAR **/

.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  height: 2.5em;
  background-color: var(--light-grey);
  font-size: larger;
  font-weight: bold;
  color: var(--light-blue);
  border-bottom: 1px solid var(--medium-grey);
  box-shadow: 0.1em 0.1em 0.3em 0.1em var(--medium-grey);
  z-index: 2;
}

/** LOADING **/

.loading {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 4px solid var(--medium-grey);
  border-top-color: var(--light-blue);
  animation: loading 2s linear infinite;
}
@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

/** PODCAST LIST **/

.podcast-list-container {
  margin: 2em;
}

.filter-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1.5em;

  .filter-counter {
    background-color: var(--light-blue);
    padding: 0.2em 0;
    border-radius: 0.3em;
    color: var(--light-grey);
    width: 2.8em;
    text-align: center;
  }

  input {
    padding: 0.2em;
    width: 20em;
    font-size: medium;
  }
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6.6em;

  img {
    position: absolute;
    top: -3em;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    border: 1px solid var(--medium-grey);
    z-index: 1;
  }

  .card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 6em 1em 1em 1em;
    border-radius: 0.2em;
    width: 15em;
    height: 100%;

    .line-clamp {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .line-clamp:hover {
      overflow: visible;
      white-space: normal;
      height: auto;
    }

    .subtext {
      font-size: 0.8em;
      color: var(--font-grey);
    }
  }

  .card-content:hover {
    background-color: var(--light-grey);
    border: 1px solid var(--medium-grey);
    box-shadow: 0.2em 0.2em 0.4em 0.2em var(--medium-grey);
  }
}

/** PODCAST RESUME **/

.card-resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20em;
  padding: 1.5em 0.5em;
  height: fit-content;

  img {
    width: 13em;
    height: 13em;
    border-radius: 0.5em;
  }

  img.clickable:hover {
    width: calc(13em - 1px);
    height: calc(13em - 1px);
    border: 2px solid white;
  }

  .main-info-container {
    padding: 1.5em 0 1.5em 0.5em;
    margin: 1.5em 0;
    border-top: 1px solid var(--medium-grey);
    border-bottom: 1px solid var(--medium-grey);
    width: 100%;

    .main-info {
      font-size: large;
      font-weight: bold;
    }

    .secondary-info {
      font-size: medium;
      font-style: italic;
    }

    .clickable:hover {
      color: var(--light-blue);
    }
  }

  .content-info-container {
    display: flex;
    flex-direction: column;

    .title {
      font-weight: bold;
    }

    .info {
      font-style: italic;
      overflow-wrap: anywhere;
    }
  }
}

/** PODCAST DETAIL **/

.episodes-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 50em;

  .episodes-counter {
    padding: 0.6em;
    font-size: larger;
    font-weight: bolder;
  }

  .episodes-list {
    padding: 0.6em;
  }

  .episode-row {
    display: flex;
    border-bottom: 2px solid var(--medium-grey);
    padding: 0.5em 0;

    .title {
      width: 70%;
      padding-left: 0.5em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .title-clickable {
      color: var(--light-blue);
    }

    .title-clickable:hover {
      font-weight: bold;
    }

    .date {
      width: 15%;
      text-align: center;
    }

    .bold {
      font-weight: bold;
    }
  }

  .row-shadow {
    background-color: var(--light-grey);
  }
}

/** EPISODE **/

.episode-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 50em;
  padding: 1.5em;
  height: fit-content;

  .title {
    font-size: larger;
    font-weight: bolder;
  }

  .description {
    font-style: italic;
  }

  audio {
    width: 100%;
    height: 3em;
    margin-top: 2em;
  }
}
